[Unit]
Description=readsb pb server
Documentation=https://flightaware.com/adsb/piaware/
Wants=network.target
After=network.target
After=readsb.target

[Service]
User=readsb
RuntimeDirectory=readsb
RuntimeDirectoryMode=0755
ExecStart=/usr/local/bin/adsbpbsrv -p 38008
SyslogIdentifier=adsbpbsrv
Type=simple
Restart=on-failure
RestartSec=30
Nice=-5

[Install]
WantedBy=default.target
