[Unit]
Description=dump1090 JSON server
Documentation=https://flightaware.com/adsb/piaware/
Wants=network.target
After=network.target
After=dump1090.target

[Service]
User=dump1090
RuntimeDirectory=dump1090
RuntimeDirectoryMode=0755
ExecStart=/usr/local/bin/jsacsrv
SyslogIdentifier=jsacsrv
Type=simple
Restart=on-failure
RestartSec=30
Nice=-5

[Install]
WantedBy=default.target
