body,
.md-header,
.md-footer,
.md-tabs {
    background-size: cover;
    background-attachment: fixed;
}
.md-container,
.md-search__inner {
    background-color: rgba(0, 0, 0, 0.9);
}
.md-footer-nav,
.md-footer-meta {
    background: transparent;
}

/* General style */
.md-typeset h1,
.md-tabs,
.md-header-nav__topic,
.md-sidebar {
    font-family: "Roboto", sans-serif;
}
.md-tabs a {
    font-size: 0.9rem;
}
.md-sidebar label {
    font-size: 0.85rem;
}
.md-sidebar a {
    font-size: 0.75rem;
    margin-top: 0.4em;
}
.md-typeset h1 {
    color: white;
}
.md-typeset__table th {
    border-bottom: 2px solid darkorange;
    font-weight: bold;
}
.md-typeset__table tr:nth-child(even) {
    background: rgb(61, 61, 76);
}
.md-typeset table:not([class]) tr:nth-child(even):hover {
    background-color: rgba(61, 61, 76, 0.035);
}

/* change link colors for grey theme */
.md-header-nav__button:hover {
    opacity: 1;
    color: darkorange;
    transition: color 0.5s;
}
[data-md-color-primary="grey"] .md-typeset a {
    color: #00ade2;
}
[data-md-color-primary="grey"] .md-typeset a:hover {
    color: darkorange;
}
.md-nav__item .md-nav__link--active {
    color: white;
}
.md-sidebar label,
.md-nav__item--nested > .md-nav__link,
.md-sidebar a {
    color: gray;
}
.md-nav__link:hover {
    color: darkorange;
}
.md-nav__link[data-md-state="blur"] {
    color: rgb(180, 180, 180);
}
.md-nav__item .md-nav__link--active {
    color: white;
}
.md-footer-nav__link {
    font-weight: bold;
}
.md-footer-nav__link:hover {
    opacity: 1;
    color: darkorange;
    transition: color 0.5s;
}
a.headerlink {
    color: gray;
}

hr {
    border-color: white;
}

/* display external links with icon */
div.md-content a[href^="http://"]:not([href*="stronnag.gitlab.io"]):after,
div.md-content a[href^="https://"]:not([href*="stronnag.gitlab.io"]):after,
div.md-content a[href^="https://"]:not([href*="github.com/stronnag"]):after,
{
    content: "↗";
    font-weight: normal;
    font-style: normal;
    font-size: 70%;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
}

/* attribute classes to be used via {: .class} */
.left {
    /* left align with text float on the right */
    float: left;
    padding-right: 20px;
}
.right {
    /* right align with text float on the left */
    float: right;
    padding-left: 20px;
}
.icon {
    /* change image size */
    width: 25%;
}
.border {
    /* add drop shadow */
    border: 1px solid #7f8081;
    -webkit-box-shadow: 0px 0px 18px 5px rgba(250, 249, 249, 0.5);
    -moz-box-shadow: 0px 0px 18px 5px rgba(250, 249, 249, 0.5);
    box-shadow: 0px 0px 18px 5px rgba(250, 249, 249, 0.5);
}

/* special use tags ==...== */
mark,
.md-typeset mark {
    background-color: rgb(255, 253, 130);
    color: black;
    font-weight: bold;
}

/* blockdiag */
img[src*="%3Ctitle%3Eblockdiag%3C"] {
    background-color: lightgray;
}

/* image zoom */
img {
    height: auto;
    width: auto;
}
.zoom,
.zoom2 {
    transition: transform ease-in-out 0.5s;
    cursor: zoom-in;
}
.image-zoom {
    background: #000;
    transform: scale(1);
    cursor: zoom-out;
    box-shadow: 0 4px 8px 0 rgba(238, 238, 238, 0.5),
        0 6px 20px 0 rgba(238, 238, 238, 0.5);
    z-index: 100;
    position: absolute;
}
.image-zoom2 {
    background: #000;
    transform: scale(1.5);
    cursor: zoom-out;
    box-shadow: 0 4px 8px 0 rgba(238, 238, 238, 0.5),
        0 6px 20px 0 rgba(238, 238, 238, 0.5);
    z-index: 100;
    position: absolute;
}

/* progress bar */
.progress-label {
    position: absolute;
    text-align: center;
    font-weight: 700;
    width: 100%;
    margin: 0;
    line-height: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: 0px 0px 6px #000000;
}
.progress-bar {
    height: 1.2rem;
    float: left;
    background-color: #2979ff;
}
.progress {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    height: 1.2rem;
    background-color: #cccccc8a;
    position: relative;
}
.progress.thin {
    margin-top: 0.9rem;
    height: 0.4rem;
}
.progress.thin .progress-label {
    margin-top: -0.4rem;
}
.progress.thin .progress-bar {
    height: 0.4rem;
}
.progress-100plus .progress-bar {
    background-color: #00e676;
}
.progress-80plus .progress-bar {
    background-color: #fbc02d;
}
.progress-60plus .progress-bar {
    background-color: #ff9100;
}
.progress-40plus .progress-bar {
    background-color: #ff5252;
}
.progress-20plus .progress-bar {
    background-color: #ff1744;
}
.progress-0plus .progress-bar {
    background-color: #f50057;
}
