@media print {
  @page {
    @bottom-left {
      content: "mwp manual";
    }
  }
}

/*
    size: a4 portrait;
    margin: 10mm 10mm 20mm 10mm;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 80%;
    white-space: pre;
    color: grey;
    counter-increment: page;
*/
