2 ICON "../../data/mwp.ico"

1 VERSIONINFO
FILEVERSION 25,05,12,0
FILEOS 0x40004
FILETYPE 1
{
  BLOCK "StringFileInfo"
  {
    BLOCK "000004b0"
    {
      VALUE "CompanyName", "Stronnag MegaCorp"
      VALUE "FileDescription", "mwp"
      VALUE "FileVersion", "25.05.12"
      VALUE "InternalName", "mwp GCS and MissionPlanner"
      VALUE "LegalCopyright", "Copyright (c) 2014-2025 Jonathan Hudson"
      VALUE "OriginalFilename", "mwp.exe"
      VALUE "ProductName", "mwptools"
      VALUE "ProductVersion", "25.05.12"
      VALUE "Comments", "Licence GPL3 or later"
    }
  }

  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0, 0x4b0
  }
}
