[Desktop Entry]
Terminal=false
Type=Application
Name=MultiWii Planner
Exec=mwp
Icon=mwp_icon
MimeType=application/vnd.mw.mission;application/vnd.blackbox.log;application/vnd.mwp.log;application/vnd.mwp.json.mission
