
/*
 * These are the colours / styles used by mwp for voltages
 * You can override these styles by placing a modified copy of
 * this file (vcols.css) in either ~/.config/mwp/ or ~/.local/share/mwp/
 * e.g
 * force contrasting text colour as well
 * .volthigh { background-color: green ; color: white }
 * .voltmedium { background-color: yellow ; color: black }
 * .voltlow { background-color: orange ; color: black }
 * .voltcritical { background-color:  red ; color: white }
 */

.volthigh { background-color: green }
.voltmedium { background-color: yellow }
.voltlow { background-color: orange }
.voltcritical { background-color:  red }
.voltundef { background-color: transparent}
